data
*.pt
*.bin
*.npz
*.parquet
*.safetensors
models--*
released_updates/
!dataset/shuffled_idxs/
!dataset/shuffled_idxs/*.pt
!dataset/8vision_joint_components/
lora_rank*
qlora_rank*
full_rank_8vision_train*/
full_trap2_8vision_train*/
__pycache__
*.pyc
wandb
logs*
.vscode
hf
*.pdf
fig/*
!fig/method.png
!fig/teaser.png
